@model IEnumerable<TimeMgmtLibraryCore.Models.ModuleModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">My Modules</h1>

<p class="text-center">
    <a asp-action="Add" class="btn btn-primary">Add new Module</a>
</p>

@*For the display of the employee info*@

<table class="table table-hover">
    <thead>
        <tr>
            <th>Module Code</th>
            <th>Module Name</th>
            <th>Number of Credits</th>
            <th>Class Hours Per Week</th>
            <th>Self-study hours per week</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var module in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => module.ModuleCode)</td>
                <td>@Html.DisplayFor(modelItem => module.ModuleName)</td>
                <td>@Html.DisplayFor(modelItem => module.NoOfCredits)</td>
                <td>@Html.DisplayFor(modelItem => module.ClassHrsPerWeek)</td>
                <td>@Html.DisplayFor(modelItem => module.SelfStudyHrsPerWeek)</td>
            </tr>
        }
    </tbody>
</table>
